@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h4>Are you sure you want to delete "@Html.DisplayFor(model => model.Name)" from the stylist list?</h4>
<br>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete"/>
}

<br>
<br>
<p><a href='/Stylists'>View list of all stylists</a></p>
<p><a href='/'>Back to the home page</a></p>