@{
  Layout = "_Layout";
}

<h1>Eau Claire's Salon</h1>
<br>

<h4><a href='/clients'>View list of all clients</a></h4>
<h4><a href='/clients/create'>Add a new client</a></h4>

<br>
<h4><a href='/Stylists'>View list of all stylists</a></h4>
<h4><a href='/Stylists/Create'>Add a new Stylist</a></h4>